<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Legume Information System :: Seqqle Search by Sequence</title>
    <%= javascript_include_tag :all %>
		<%= stylesheet_link_tag :all %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="main">
			<div id="content">
				<div id="logo">
					<div id="logo_left"></div>
					<div id="logo_right">
						<div id="rss">
							<%= link_to image_tag("feed.png", :alt => "RSS Feed"), "http://comparative-legumes.org/news_articles.rss" %>
						</div>
						<div id="google_translate_element"></div>
							<script type="text/javascript">
								function googleTranslateElementInit() {
								  new google.translate.TranslateElement({
								    pageLanguage: 'en'
								  }, 'google_translate_element');
								}
							</script>
							<script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
					</div>
				</div>
				<div id="nav">
					<%= render :partial => "shared/nav" %>
				</div>
				<div id="frame">
					<div id="singlecol">
						<% if flash[:notice] -%>  
							<div id="notice"><h2><%= flash[:notice] %></h2></div>  
						<% elsif flash[:error] -%>  
							<div id="error"><h2><%= flash[:error] %></h2></div>  
						<% end -%> 
						<%= yield %>
					</div>
				</div>
			</div>
			<%= render :partial => "shared/footer" %>
		</div>
		<script type="text/javascript">
			$("logo_left").observe("click", function() {
				document.location.href="http://comparative-legumes.org";
			});
		</script>
	</body>
</html>
